ConnectionStrings__DefaultConnection="Host=localhost;Port=5432;Database=postgres;Username=postgres;Password=Sistemas2025!"
Jwt__Key=X9mK2vLq8Pz7RwT4Yn6HsDf1BcEa92QZ
Jwt__Issuer=AlbergueSalvaVidas
Jwt__Audience=AlbergueSalvaVidas
Jwt__ExpirationMinutes=120
Jwt__CookieName=access_token

SUPABASE_URL=https://gqtpvftfqicdrcfghins.storage.supabase.co/storage/v1/s3
SUPABASE_KEY=1b5a3b1cc3d356d351a79d7fe7d82d5c