@import "tailwindcss";

:root {
  --background: #f2eadf;
  --foreground: #171717;
  --primary: #731d34;
  --secondary: #a66f79;
  --terciary: #f2b441;
  --quaternary: #f2d194;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-terciary: var(--terciary);
  --color-quaternary: var(--quaternary);
  --color-background: var(--background);
  --color-foreground: var(--color-slate-800);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}
